body{background-color:lightpink;}
#abc{
    background-color: rgb(228, 255, 155);
    color: rgb(0, 0, 0);
}
.music{
    background-color: rgb(182, 195, 100);
}
#def{
    background-color: rgb(129, 173, 84);
}